<!DOCTYPE html>
<html>
  <head>
    <title>Client</title>
  </head>
  <body>
      <h1 class="title"> Name </h1>
      <div> Account:  </div>
      <div> Bitcoin Account:  </div>
      <div> Price of Bitcoin:  </div>
      <div> Trades this Month:  </div>
      <div> Level:  </div>
      <div> Commission Rate:  </div>


      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Make Transaction
      </button>
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Make Payment
      </button>

  </body>
</html>
